
<style>
* {
  box-sizing: border-box;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  /*display: inline-block;*/
}

#iautocompletestock {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 2px;
  cursor: pointer;
  background-color: #f8f9fa; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #dee2e6; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>



<!--Make sure the form has the autocomplete function switched off:-->
<form id="sisubmit" autocomplete="off" action="../searchiteam">
  <div class="autocomplete" id="iautocompletestock" style="width:300px;">
    <input id="siiteamname" onClick="this.select();" type="text" name="iteamname" class="form-control" placeholder="Product name">
  </div>
  <button onmouseover="this.disabled=true;" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>

<script>
var Gindex=0;
// var Goldproduct=[];
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong id='acstrong'>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          
          b.innerHTML += "<input type='hidden' value='" + GproductListId[i][0] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListId[i][1] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListId[i][2] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListId[i][3] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListId[i][4] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListId[i][5] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListId[i][6] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListId[i][7] + "'>";
          b.innerHTML += "<input type='hidden' value='" + i + "'>";
          // b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              // Giid=this.getElementsByTagName("input")[0].value;
              sssubmit.style.display = "block";
              ssiname.value = this.getElementsByTagName("input")[0].value;
              ssihsncode.value = this.getElementsByTagName("input")[1].value;
              ssicost.value = this.getElementsByTagName("input")[2].value;
              ssimrp.value = this.getElementsByTagName("input")[3].value;
              ssidiscount.value = this.getElementsByTagName("input")[4].value;
              ssipackingdt.value = this.getElementsByTagName("input")[5].value;
              ssiexpirydt.value = this.getElementsByTagName("input")[6].value;
              ssiquantity.value = this.getElementsByTagName("input")[7].value;
              
              Gindex = this.getElementsByTagName("input")[8].value;
              ssCheckDiscount();
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
              // ssihsncode
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var GproductListName = [];
var GproductListId = [];

{% for ditem in dditeam %}
GproductListName.push('{{ditem}}');
{% endfor %}

{% for item in Tall_products %}
GproductListId.push(['{{item.pname}}','{{item.phsncode}}','{{item.pcost}}','{{item.pmrp}}','{{item.pdiscount}}','{{item.ppackingdt|date:"d-m-Y"}}','{{item.pexpirydt|date:"d-m-Y"}}','{{item.pquantity}}']);
{% endfor %}

/*initiate the autocomplete function on the "siiteamname" element, and pass along the GproductListName array as possible autocomplete values:*/
autocomplete(document.getElementById("spiname"), GproductListName);
autocomplete(document.getElementById("siiteamname"), GproductListName);



</script>

