
<style>
* {
  box-sizing: border-box;
}

/*the container must be positioned relative:*/
.autocompletehsn {
  position: relative;
  /*display: inline-block;*/
}

#iautocompletehsnhsn {
  position: relative;
  display: inline-block;
}

.autocompletehsn-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  
  top: 100%;
  left: 0;
  right: 0;
}

.autocompletehsn-items div {
  padding: 2px;
  cursor: pointer;
  background-color: #f8f9fa; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocompletehsn-items div:hover {
  background-color: #dee2e6; 
}

.autocompletehsn-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>

<!-- this.value=this.value.trim(); -->

<!--Make sure the form has the autocompletehsn function switched off:-->
<!-- <form id="sisubmit" autocompletehsn="off" action="../searchiteam"> -->
  <!-- <div class="autocompletehsn" id="iautocompletehsnstock"> -->
    <input id="spihsncode" onClick="this.select();" type="text" autocomplete="off" name="hsncode" class="form-control" placeholder="HSN">
    <p id="spihsncodemesg" class="card-description"></p>
  <!-- </div> -->
<!-- </form> -->

<script>
var Gindexhsn;

// var Goldproduct=[];
function autocompletehsn(inp, arr) {  

  /*the autocompletehsn function takes two arguments,
  the text field element and an array of possible autocompletehsnd values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompletehsnd values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocompletehsn-list");
      a.setAttribute("class", "autocompletehsn-items");
      /*append the DIV element as a child of the autocompletehsn container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong id='acstrong'>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          // b.innerHTML += "<input type='hidden' value='" + i + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListhsnId[i][0] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListhsnId[i][1] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListhsnId[i][2] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListhsnId[i][3] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListhsnId[i][4] + "'>";
          b.innerHTML += "<input type='hidden' value='" + GproductListhsnId[i][5] + "'>";
          // b.innerHTML += "<input type='hidden' value='" + GproductListhsnId[i][6] + "'>";
          
          // b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocompletehsn text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              // Giid=this.getElementsByTagName("input")[0].value;
              GsubmitSaveproduct["ihsncode"] = 1;
              ihsninfo.style.display = "block";
              ihsncardlink.style.display = "inline-block";
              ihsnheader.innerHTML = "<font style='color: #909497'>HSN Code: &nbsp;&nbsp;</font>"+this.getElementsByTagName("input")[0].value;

              var cgst=this.getElementsByTagName("input")[2].value;
              var sgst=this.getElementsByTagName("input")[3].value;
              var igst=this.getElementsByTagName("input")[4].value;
              
              ispgst.value = +0 + +0 + +igst;
              ihsngst.innerHTML = "<font style='color: #909497'>CGST: &nbsp;</font><b style='color:#001233;'>"
                              +cgst
                              +"%&emsp;&emsp;</b><font style='color: #909497'>SGST: &nbsp;</font><b style='color:#001233;'>"
                              +sgst
                              +"%&emsp;&emsp;</b><font style='color: #909497'>IGST: &nbsp;</font><b style='color:#001233;'>"
                              +igst+"%</b>";
              ihsndescription.innerHTML = this.getElementsByTagName("input")[1].value;
              // ssidiscount.value = this.getElementsByTagName("input")[5].value;
              // ssipackingdt.value = this.getElementsByTagName("input")[0].value;
              // ssiexpirydt.value = this.getElementsByTagName("input")[5].value;
              // ssiquantity.value = this.getElementsByTagName("input")[6].value;
              Gindexhsn = this.getElementsByTagName("input")[0].value;
              // alert(Gindexhsn);
              /*close the list of autocompletehsnd values,
              (or any other open lists of autocompletehsnd values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocompletehsn-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocompletehsn-active":*/
    x[currentFocus].classList.add("autocompletehsn-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocompletehsn items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocompletehsn-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocompletehsn lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocompletehsn-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var GproductListhsncode = [];
var GproductListhsnId = [];






{% for hsn in Tall_hsn %}
// alert();
GproductListhsncode.push('{{hsn.ghsncode}}');
GproductListhsnId.push(['{{hsn.ghsncode}}','{{hsn.gdescription}}','{{hsn.gcgst}}','{{hsn.gsgst}}','{{hsn.gigst}}','{{hsn.gtimestamp}}']);
{% endfor %}


// {% for ditem in dditeam %}
// GproductListhsncode.push('{{ditem}}');
// {% endfor %}

// {% for item in Tall_products %}
// GproductListhsnId.push(['{{item.pname}}','{{item.pcost}}','{{item.pmrp}}','{{item.pdiscount}}','{{item.ppackingdt|date:"d-m-Y"}}','{{item.pexpirydt|date:"d-m-Y"}}','{{item.pquantity}}']);
// {% endfor %}

/*initiate the autocompletehsn function on the "siiteamname" element, and pass along the GproductListName array as possible autocompletehsn values:*/
autocompletehsn(document.getElementById("spihsncode"), GproductListhsncode);
// autocompletehsn(document.getElementById("siiteamname"), GproductListName);



</script>

